html,
body {
  min-height: 100%;
  background: black;
  color: white;
}

.App {
  margin: 1rem;
}

.movies--action {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  background: #DB246B;
  color: #fff;
}

@keyframes loadingSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.icon--loading {
  width: 1rem;
  margin-left: 1rem;
  animation: loadingSpinner 0.75s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}